{% extends 'base/layout.html' %}
{% block banner %}


    <div class="box">
            <div>
                <img src="/static/images/hotel_the_enchanted_garden.jpg" height="300" width="273" class="cooker">
                <img src="/static/images/hotel_the_paradise.jpg" height="300" width="273" class="cooker">
                <img src="/static/images/hotel_astro_resort.jpg" height="300" width="273" class="cooker">
                <img src="/static/images/room_1.jpg" height="300" width="275" class="cooker">
                <h1> <br>Sứ mệnh của Wave</h1>
                <h4> Sứ mệnh của chúng tôi là
                    cung cấp các tiện nghi và dịch vụ tốt nhất cho khách đến ở,
                    đồng thời tạo một môi trường làm việc lý tưởng cho nhân viên khách sạn
                    và thu về lợi nhuận cho chủ đầu tư.
                    Mục tiêu đưa Wave trở thành một trong những khách đẳng cấp tại Vũng Tàu.</h4>
            </div>
        </div>
    </div>

{% endblock %}