<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>HỆ THỐNG KHÁCH SẠN WAVE</title>
        <link href="{{url_for('static', filename = 'css/hotel.css')}}"
              rel = "stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
              rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
              rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
              crossorigin="anonymous">
</head>
<body style="background : url(static/images/wave2.jpg); background-size: cover">
    <div class="box">
        <div class="barmanu">
            <div class="icons">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-question-circle" aria-hidden="true"></i>
            </div>
            <div class="dark"></div>
            <div class="menu">
                <ul class="m">
                    <li><a href=""><font>Trang Chủ</font></a></li>
                    <li><a href="">Phòng<i class="fa fa-angle-down"></i></a>
                        <ul class="sub">
                            <li>Đặt Phòng</li>
                            <li>Trả Phòng</li>
                        </ul>
                    </li>
                    <li><a href="">Dịch Vụ <i class="fa fa-angle-down"></i></a>
                        <ul class="sub">
                            <li>Giặt Ủi</li>
                            <li>Spa</li>
                            <li>Gym - Yoga</li>
                            <li>Casino</li>
                            <li>Đặt Vé Máy Bay</li>
                            <li>Xe Đưa Đón</li>
                        </ul>
                    </li>
                    <li><a href="">Thu Chi</a>
                    </li>
                    <li><a href="">Tra Cứu <i class="fa fa-angle-down"></i></a>
                        <ul class="sub">
                            <li>Tra Cứu Khách Hàng</li>
                            <li>Tra Cứu Phiếu Thuê</li>
                            <li>Tra Cứu Hóa Đơn</li>
                            <li>Tra Cứu Phòng</li>
                        </ul>
                    </li>
                    <li><a href="">Thanh Toán</a></li>
                    <li><a href="">Báo Cáo <i class="fa fa-angle-down"></i></a>
                        <ul class="sub">
                            <li>Báo cáo mật độ sử dụng phòng</li>
                            <li>Báo cáo doanh thu tháng</li>
                        </ul>
                    </li>
                    <li><a href="">Liên Hệ</a></li>
                </ul>
            </div>
            <div class="content">
                <img src="static/images/hotel_the_enchanted_garden.jpg" height="300" width="260" class="cooker">
                <h1> Sứ mệnh của Wave</h1>
                <h4> Sứ mệnh của chúng tôi là
                    cung cấp các tiện nghi và dịch vụ tốt nhất cho khách đến ở,
                    đồng thời tạo một môi trường làm việc lý tưởng cho nhân viên khách sạn
                    và thu về lợi nhuận cho chủ đầu tư.
                    Mục tiêu đưa Wave trở thành một trong những khách đẳng cấp tại Vũng Tàu.</h4>
                <form action="index.html">
                    <button>Book Now</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>