{% extends 'admin/master.html' %}
{% block body %}

<div class="body">
    <section class="container">
        <table class="table well">
            <caption><h1>XEM PHÒNG</h1></caption>
            <thead class="p-3 mb-2 bg-primary text-white">
            <tr class="table__tr">
                <td class="table__td"> Mã phòng</td>
                <td class="table__td"> Tên phòng</td>
                <td class="table__td"> Tình trạng phòng</td>
                <td class="table__td"> Image</td>
                <td class="table__td"> Loại phòng</td>
            </tr>
            </thead>
            <tbody class="table__tobdy">
                 {% for r in rooms %}
                <tr class="table__tr">

                    <td class="table__td">{{ r.id }}</td>
                    <td class="table__td">{{ r.name }}</td>
                    <td class="table__td">{{ r.conditionRoom.value }}</td>
                    <td class="table__td">{{ r.image }}</td>
                     <td class="table__td">{{ r.categoryRoom_id }}</td>
                    {% endfor %}
                </tr>

            </tbody>
        </table>
    </section>
</div>

{% endblock %}