<div id="about" class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <h4>TỔNG QUAN</h4>
                  <h3 style="text-transform: none !important">Wave Đem Lại Sự Hài Lòng Cho Khách Hàng</h3>
                  <p>Phòng Two Bedroom Suite Sea View là loại phòng đặc biệt của khách sạn Wave với diện tích từ 105 m²
                     phù hợp cho khách gia đình. Một phòng được trang bị 1 giường ngủ King size và 2 giường ngủ đơn.
                     Đây là loại phòng được thiết kế với hướng nhìn ra biển xanh rộng lớn ngay trong tầm mắt của du khách.
                     Phòng có không gian bếp thoáng đãng, tủ lạnh, bàn khách và sofa.Ngoài ra có đầy đủ TV LCD 32 in, Wifi...
                     Phòng được trang trí với nội thất cổ điển sang trọng và nghệ thuật trang trí vô cùng tinh tế đến từng chi tiết.

                     </p>
               </div>
               <div class="col-md-6 offset-md-1">
                  <div class="full text_align_center">
                     <img class="img-responsive" src="{{url_for('static', filename = 'images/vip2.jpg')}}" alt="#" />
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="hiw" class="hiw_section layout_padding" style="background: #1a2428;">
         <div class="container">
            <div class="row">
               <div class="col-md-7">
                  <h3 class="white_font">Danh Sách Phòng</h3>
                  <p class="white_font">Cùng Wave Tận Hưởng Những Không Gian Tuyện Vời Nhất</p>
               </div>
               <div class="col-md-5">
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <img class="margin_top_30 img-responsive" src="{{url_for('static', filename = 'images/vip1.jpg')}}" style="height: 400px" alt="#" />
                  <h3 class="blog_head">Phòng VIP</h3>
                  <h4 class="blog_head">200.000đ/ một đêm</h4>
               </div>
               <div class="col-md-4">
                  <img class="margin_top_30 img-responsive" src="{{url_for('static', filename = 'images/room_1.jpg')}}" style="height: 400px" alt="#" />
                  <h3 class="blog_head">Phòng Cao Cấp</h3>
                  <h4 class="blog_head">170.000đ/ một đêm</h4>
               </div>
               <div class="col-md-4">
                  <img class="margin_top_30 img-responsive" src="{{url_for('static', filename = 'images/room_8.jpg')}}" style="height: 400px" alt="#" />
                  <h3 class="blog_head">Phòng Tiêu Chuẩn</h3>
                  <h4 class="blog_head">150.000đ/ một đêm</h4>
               </div>
            </div>
         </div>
      </div>
      <div id="service" class="hiw_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-7">
                  <h3>MỘT SỐ HÌNH ẢNH</h3>
                  <p>Khách sạn Wave luôn mang vẻ đẹp hiện đại xen lẫn nét cổ kính. Đặt khách sạn sớm nhất để hưởng trọn ưu đãi, hứa hẹn một kì nghỉ với những không gian tiện nghi,
                     dịch vụ trọn gói, nhân viên thân thiện và hết lòng vì quyền lợi của quý khách hàng...</p>
               </div>
               <div class="col-md-5">
               </div>
            </div>
            <div class="row">
               <div class="col-md-8 service_blog">
                  <img class="margin_top_30 img-responsive" src="{{url_for('static', filename = 'images/room_9.jpg')}}" style="width: 850px" alt="#" />
                  <h3 class="blog_head">Thoáng Đãng</h3>
               </div>
               <div class="col-md-4 service_blog">
                  <img class="margin_top_30 img-responsive" src="{{url_for('static', filename = 'images/room_10.jpg')}}" style="height: 477px" alt="#" />
                  <h3 class="blog_head">Hiện Đại</h3>
               </div>
               <div class="col-md-4 service_blog">
                  <img class="margin_top_30 img-responsive" src="{{url_for('static', filename = 'images/room_7.jpg')}}" style="height: 300px" alt="#" />
                  <h3 class="blog_head">Ấm Cúng</h3>
               </div>
               <div class="col-md-4 service_blog">
                  <img class="margin_top_30 img-responsive" src="{{url_for('static', filename = 'images/room_6.jpg')}}" style="height: 300px" alt="#" />
                  <h3 class="blog_head">Thân Thiện</h3>
               </div>
               <div class="col-md-4 service_blog">
                  <img class="margin_top_30 img-responsive" src="{{url_for('static', filename = 'images/room_5.jpg')}}" style="height: 300px" alt="#" />
                  <h3 class="blog_head">Cổ Kính</h3>
               </div>
            </div>
         </div>
      </div>